<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="homepage-announcement content">
      <p>📣 <em> Hey, I’ll be speaking <a href="https://belgrade.voxxeddays.com/speakers/filip-danic" title="Filip Danić @ VDB17" target="_blank">at Voxxed Days Belgrade</a> this October. Drop by and <a href="https://twitter.com/DanicFilip" target="_blank">say hello!</a></em></p>
    </div>
  </div>
  <div class="col-4"></div>
</div>