<div class="navigation-footer row">
  <div class="col-4"></div>
  <div class="col-4">
    <footer>
      <p>
        👉
        <a href="/writing">Writing</a>
        <a href="/speaking">Speaking</a>
        <a href="/about" class="footer-link">About</a>
      </p>
      <p>
        📬
        <a href="https://twitter.com/DanicFilip" target="_blank">Twitter</a>
        <a href="mailto:filipdanic7@gmail.com">Email</a>
        <a href="https://github.com/filipdanic" target="_blank">GitHub</a>
      </p>
      <p>
        <small>
        You can get the website code <a href="https://github.com/filipdanic/filipdanic.github.io/" target="_blank" title="Danic Filip Github">here</a> and do whaterver. The content is copyrighted obviously. If you want to repost it somewhere, let me know. <a href="https://github.com/filipdanic/filipdanic.github.io/blob/master/LICENSE" target="_blank" title="License file">MIT license.</a>
        </small>
      </p>
    </footer>
  </div>
  <div class="col-4"></div>
</div>
<%- partial('analytics') %>
