<div class="navigation-footer row">
  <div class="col-4"></div>
  <div class="col-4">
    <footer>
      <p>
        👉
        <a href="/writing" title="Danic Filip: Essays and Blog posts">Writing</a>
        <a href="/speaking" title="Danic Filip: Speaking Info and Experience">Speaking</a>
        <a href="/about" title="Danic Filip: About and Projects" class="footer-link">Projects</a>
        <a href="/open-source-software" title="Danic Filip: Open Source Software" class="footer-link">Open Source</a>
      </p>
      <p>
        📬
        <a href="https://twitter.com/DanicFilip" title="Twitter at DanicFilip" target="_blank">Twitter</a>
        <a href="mailto:filipdanic7@gmail.com" title="Email me at filipdanic7@gmail.com">Email</a>
        <a href="https://github.com/filipdanic" title="Github username: filipdanic" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/danicfilip/" title="LinkedIn username: danicfilip" target="_blank">LinkedIn</a>
      </p>
      <p>
        🎥
        <a href="https://www.twitch.tv/filipdanic" title="Twitch development streams" target="_blank">Twitch</a>
        <a href="https://www.youtube.com/channel/UClctBvKpOUts0_B_kvooo_w" title="YouTube channel">YouTube</a>
      </p>
      <p>
        <small>
        You can get the website code <a href="https://github.com/filipdanic/filipdanic.github.io/" target="_blank" title="Github repository for danicfilip.com">here</a> and do whatever. The content is copyrighted obviously. If you want to re-post it somewhere, let me know. <a href="https://github.com/filipdanic/filipdanic.github.io/blob/master/LICENSE" target="_blank" title="License file">License.</a>
        </small>
      </p>
    </footer>
  </div>
  <div class="col-4"></div>
</div>
