<div id="substack-info" class="hidden">
    <div class="alert-box alert-box__substack" >
        Enjoying the content? There’s more good stuff over at <a href="https://danicfilip.substack.com/p/coming-soon" title="Bits and Bytes" target="_blank">Bits and Bytes.</a> It’s a free monthly publication that focuses on helping software engineers grow!
        <button onclick="hidePopup()">Close Popup</button>
    </div>
</div>

<script>
    if (localStorage.getItem('substackInfoHiddenOn')) {
        var hiddenOn = new Date(localStorage.getItem('substackInfoHiddenOn'));
        var diff = new Date().getTime() - hiddenOn.getTime();
        if (!Number.isNaN(diff) && diff > 604800000) {
            localStorage.removeItem('substackInfoHiddenOn');
        }
    }

    window.onscroll = function () {
        var height = document.body.scrollHeight;
        var currentPosition = document.documentElement.scrollTop || document.body.scrollTop;
        var hiddenOn = localStorage.getItem('substackInfoHiddenOn');

        if (hiddenOn === null && currentPosition > height / 2.5) {
            document.getElementById("substack-info").className = "";
        }
    };

    var hidePopup = function () {
        document.getElementById("substack-info").className = "hidden";
        localStorage.setItem('substackInfoHiddenOn', new Date());
    }
</script>