body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-family: ff-meta-serif-web-pro, "Droid Serif", Georgia, serif;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: poppins, sans-serif;
}

p {
  margin: 0 0 19px 0;
  line-height: 1.55;
}

li {
  margin-bottom: 4px;
}

figure {
  margin: 12px auto;
}

figure.highlight {
  background: #F5F5F5;
  padding: 2px 10px;
  overflow: scroll;
}

figure.highlight.bash {
  background: #000;
  color: #fff;
  padding: 2px 10px;
}

code, pre {
  font-family: monospace;
}

code {
  background: #F5F5F5;
  font-weight: 700;
  padding: 4px;
}

kbd {
  font-family: monospace;
  border:1px solid #ccc;
  background-color: #f7f7f7;
  padding: 2px;
  border-radius: 4px;
}

blockquote {
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}

blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0.25em;
  left: -0.15em;
  color: #e7e6e4;
  font-size: 6em;
  z-index: -1;
}

.scenario-box blockquote {
  font-size: 1em;
  line-height: 1em;
}

.scenario-box blockquote p {
  margin-bottom: 0;
}

.content {
  max-width: 580px;
  margin: 0 auto;
  padding: 12px;
}

/** ====BLOG ==== */

.blog-content {
  font-size: 1.3rem;
  margin: 24px auto;
  max-width: 580px;
}


figure.blog-post-image {
  margin: 22px auto;
}

.blog-post-image img {
  max-width: 140%;
  margin-left: -20%;
}

.blog-post-image.blog-post-image-small img {
  max-width: 100%;
}

.blog-post-image br {
  height: 0;
}

.blog-post-image figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-left: -20%;
}

.blog-post-image figcaption:before {
  content: '– ';
}

@media only screen and (max-width: 60em) { /* 960px */
  .blog-post-image img {
    max-width: 100%;
    margin-left: 0;
  }
  .blog-post-image figcaption {
    margin-left: 0;
  }
}

/** ==== DATES ==== */

.blog-meta-info,
.date-info {
  opacity: 0.75;
  font-size: 0.75em;
}

p.date-info {
  margin-bottom: 2px;
}

/** ==== LINK ==== */

.content a, .navigation-footer a,
.content a:visited, .navigation-footer a:visited,
.content a:active, .navigation-footer a:active {
  color: blue;
}

.navigation-header a,
.navigation-header a:visited,
.navigation-header a:active {
  color: #fff;
  font-size: 0.8em;
}

.navigation-footer a {
  padding: 0 4px 0 0;
}

.post-card {
  margin-bottom: 15px;
}

.content--center {
  text-align: center;
  margin: 10px auto;
}

.front-header {
  font-size: 1.25rem;
  background: url(images/background.png) no-repeat;
  color: #fbfec5;
  background-size: cover;
  background-color: #afa0fe;
  min-height: 320px;
}

@media only screen and (max-width: 920px) {
  .front-header {
    color: #080d6d
  }
}

.navigation-footer  {
  font-size: 0.75em;
  text-align: center;
}

/* ==== “ALERT” BOXES ==== */

.alert-box {
  border-radius: 4px;
  padding: 12px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.alert-box__info {
  background-color: #44986f;
  color: #fff;
}

.alert-box__info a {
  color: #eee137;
}

/* ==== UTILITIES ==== */

.text-small {
  font-size: 0.75em;
}


/* ==== OVERRIDES ==== */

tr > .gutter {
  padding-right: 12px;
}

/* ==== GRID SYSTEM ==== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 100%;
  }
}
